.loading-overlay:before {
  content: '';
  background: #00000045;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-overlay:after {
  content: 'Loading';
  position: fixed;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 1001;
  color:white;
  text-align:center;
  font-weight:bold;
  font-size:1.5rem;        
}

.seeMore {
  text-align: left;
  color: #198754;
  font-size: 14px;
  text-decoration: underline;
}

.filters {
  text-align: left;
  color: #495057;
  font-size: 25px;
  text-decoration: underline;
}

.title {
  font-size: 18px;
  text-align: left;
}

.pointTitle{
  font-size: 18px;
  text-align: left;
}

.titleBig {
  font-size: 30px;
  text-align: left;
  margin-left: 1%;
}

.marginLeft1{
  margin-left: 1%
}

.marginLeft3{
  margin-left: 3%
}

.textGrayPrimary {
  text-align: left;
  font-size: 14px;
  color: #495057;
}

.textGrayPrimaryItalic {
  text-align: left;
  font-size: 17px;
  color: #6f747a;
  font-style: italic;
  margin-left: 1%;
}

.textGrayPrimaryBig {
  text-align: left;
  font-size: 20px;
  color: #495057;
  margin-left: 1%;
}

.filterForm {
  margin-left: 3%;
  color: #495057;
}

.formLabel{
  font-size: 18px;
  text-align: left;
  color: #495057;
}

.filterTitleRow{
  padding-left: 2%;
}

.formConfirm{
  color: #198754;
  font-size: 18px;
}

.formCancel{
  color: #495057;
  font-size: 18px;
}

.formDelete{
  color: #DC4C64;
  font-size: 18px;
}

.marginLeft2{
  margin-left: 2%;
}

.marginRight1{
  margin-right: 1%
}

.seePointsButton{
  color: #198754;
  font-size: 18px;
  text-decoration: underline;
}

.seePointsButtonContainer{
  margin-left: 0.4%;
}

.navigationLinkUnselected{
  text-align: center;
  color: #495057;
  font-size: 25px;
}

.navigationLinkSelected{
  text-align: center;
  color: #14A44D;
  font-size: 25px;
}

.navigationLinkContainer{
  text-align: center;
  padding-top: 15px;
  width:fit-content;
}

.rowC{display:flex; flex-direction:row;}

.rowCentered{
  display:flex; 
  flex-direction:row;
  justify-content: center;
}


.navbar-brand {
  display: flex;
  align-items: center;
}

.backImage {
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 100vh;
  position: fixed; 
  background-attachment: fixed; 
  z-index:-1;
}



#map {height: 400px;}


